
  <!-- 
    - #FOOTER
  -->

  <footer class="footer has-bg-image" style="background-image: url('./assets/images/section-bg.jpg'); position:static; bottom:0" id="footer">

    <div class="footer-top section">
      <div class="container grid-list">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./assets/images/logo.svg" width="138" height="28" alt="booken home">
          </a>

          <p class="footer-text">
            LitLoom is your ultimate destination for discovering and purchasing books across a wide range of genres. 
            Whether you're searching for the latest bestseller, a timeless classic, or something entirely new, LitLoom offers 
            personalized recommendations and a user-friendly shopping experience.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Corporate</p>
          </li>
  
          <li>
            <a href="#" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>
        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Information</p>
          </li>

          <li>
            <strong>Phone: </strong><a href="tel:+9181232323453" class="footer-link">+91 81232323453</a>
          </li>
          <br>
          <li>
            <strong>Email: </strong><a href="mailto:einfo@litloom.co" class="footer-link">einfo@litloom.co</a>
          </li>
          <br>
        </ul>

        <ul class="footer-list">

          <li>
            <strong>Address</strong>
          </li>

          <li>
            456 Maple Avenue
            Vastrapur
            Ahmedabad, Gujarat 380015
            India
          </li>
          <br>
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14826.682074676873!2d72.57232754999999!3d23.022505400000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84bb8b5d89cb%3A0x4856c251a2d47c11!2sAhmedabad%2C%20Gujarat%20380015%2C%20India!5e0!3m2!1sen!2sus!4v1695018296265!5m2!1sen!2sus" 
            width="300" 
            height="200" 
            style="border:0;" 
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>

        </ul>

      </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright 2024 | Made by Amman Chopadiya.
        </p>

        <img src="./assets/images/payment-mehtod.png" width="311" height="30" loading="lazy" alt="Payment method"
          class="w-100">

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>